<div class="container">
  <br>
  <h1 class="h2 mb-3">Useful Links</h1>
  <br>
  <div class="table-responsive">
    <table class="table">
      <div class="group">
      </div>
      <tbody>
        <tr>
          <th scope="col">Original CSIE Website</th>
          <th scope="col"><a href="https://www.csie.ntu.edu.tw/">https://www.csie.ntu.edu.tw</a></th>
        </tr>
        <tr>
          <th scope="col">CSIE Info</th>
          <th scope="col"><a href="https://info.csie.ntu.edu.tw/">https://info.csie.ntu.edu.tw</a></th>
        </tr>
        <tr>
          <th scope="col">Esystem</th>
          <th scope="col"><a href="https://esystem.csie.ntu.edu.tw/">https://esystem.csie.ntu.edu.tw</a></th>
        </tr>
        <tr>
          <th scope="col">Printing</th>
          <th scope="col"><a href="https://printing.csie.ntu.edu.tw/app">https://printing.csie.ntu.edu.tw</a></th>
        </tr>
        <tr>
          <th scope="col">SA Document</th>
          <th scope="col"><a href="https://wslab.csie.ntu.edu.tw/">https://wslab.csie.ntu.edu.tw</a></th>
        </tr>
        <tr>
          <th scope="col">MS, PhD Admission</th>
          <th scope="col"><a href="https://admission.csie.ntu.edu.tw/">https://admission.csie.ntu.edu.tw</a></th>
        </tr>
        <tr>
          <th scope="col">Judgegirl</th>
          <th scope="col"><a href="https://judgegirl.csie.org/">https://judgegirl.csie.org</a></th>
        </tr>
        <tr>
          <th scope="col">NTU Cool</th>
          <th scope="col"><a href="https://cool.ntu.edu.tw/login/">https://cool.ntu.edu.tw</a></th>
        </tr>
      </tbody>

    </table>
  </div>
</div>
