default: &default
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  adapter: mysql2
  encoding: utf8
  username: [your_sql_username]
  password: [your_sql_user_password]
  host: localhost


development:
  <<: *default
  database: csie_development

test:
  <<: *default
  database: csie_test

production:
  <<: *default
  database: csie_production
