<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">CSIE</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item active">
        <li><%= link_to "professors", professors_path, class: "nav-link" %></li>
        <li><%= link_to "labs", labs_path, class: "nav-link" %></li>
        <li><%= link_to "links", links_path, class: "nav-link" %></li>
      </li>
    </ul>
  </div>
</nav>